REACT_APP_ANIME_API_BASE_URL=https://demo-backend-1-0t5d.onrender.com
REACT_APP_STUDIOS_CREATORS_API_URL=https://demo-backend-1-0t5d.onrender.com
REACT_APP_API_URL=https://demo-backend-1-0t5d.onrender.com
